/* Header/Title */
.header {
  font-size: 20px;
  font-weight: 500;
}

/* Drawer header */
.drawerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Drawer styles */
.drawerBackgroud {
  width: 280px;
  height: 100vh;
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 15px;
  margin-left: -300px;
  transition: margin-left 1s;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Opening drawer transition */
.openDrawer {
  margin-left: 0px;
}

/* Closing drawer transition */
.closeDrawer {
  margin-left: -300px;
}

/* Utility */
.flex {
  display: flex;
}

.justifyContentCenter {
  justify-content: center;
}

.alignItemCenter {
  align-items: center;
}

/* Navigation buttons like sign out and settings */
.navigationButtons {
  position: absolute;
  bottom: 4px;
  width: 16.2em;
}
